.projects-item {
  width: 45%;
  margin: 10px;
  cursor: pointer;

  .preview-wrapper {
    box-shadow: 0 0 10px gray;

    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }

    &:hover {
      box-shadow: 0 0 15px gray;
      transition: all 200ms;
      transform: rotate(-2deg)
    }
  }
}
